html {
  scroll-behavior: smooth;
}

.selectLabel {
  margin-bottom: 4px;
}

.select {
  margin-bottom: 10px;
  height: 30px;
  width: 20vw;
  border-radius: 5px;
}

tbody tr:nth-child(odd) {
  background-color: #dfdfdf;
}

tbody tr:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

body{
  background: rgb(255,115,0);
  background: linear-gradient(0deg, rgba(255,115,0,1) 0%, rgba(198,45,253,1) 110%);
  height: auto;
  font-family: 'Roboto', sans-serif;
}

.selectField {
  height: 80px;
}

.header{
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  height: 100px;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.block {
  text-align: center;
  width: 60vw;
  height: 300px;
  padding-top: 0px;
}

.optionsToSelect{
  padding-left: 0%;
  width: 30vw;
  float: left;
  padding-top: 0px;
  height: 250px;
}

.armorToSelect {
  margin-top: 40px;
  width: 30vw;
  float: right;
  height: 250px;
  padding-top: 0px;
}

.tabelka {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 100%;
}

.tabelkaContainer {
  float: left;
  width: 60vw;
  padding-left: 0%;
  text-align: center;
  height: 500px;
  margin-bottom: 0px;
  margin-top: 60px;
}

.contentDiv {
  background-color: rgb(248, 248, 248);
  border-radius: 50px;
  width: 60vw;
  height: 900px;
  margin-top: 1vh;
  margin-bottom: 5vh;
  margin-left: 20vw;
  padding-top: 0px;
  font-size: 1.3vw;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: right;
  height: 3vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#footerText{
  margin-right: 1.5vw;
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  font-size: 20px;
}

@media screen and (max-width: 500px){
  .header {
    height: 240px;
  }

  .contentDiv {
    font-size: 20px;
  }

  #footerText{
    
    font-size: 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 780px){
  .header {
    height: 200px;
  }
  .contentDiv {
    font-size: 20px;
  }
  #footerText{
    
    font-size: 20px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1100px){
  .header {
    height: 200px;
  }
  .contentDiv {
    font-size: 25px;
  }
  #footerText{
    font-size: 20px;
  }
}